
<h1 style="text-align: center; background-color: maroon; color: black">Cleaning Services</h1>

<h3 style="text-align: center">

<div class="table-responsive">
        <table class="table table-hover">
           <tr>
               
                <a routerLink="/login">Home Cleaning</a><br>
           </tr>
           <tr>
                <a routerLink="/login">Bathroom Cleaning</a>
           </tr>
           <tr>
            <a routerLink="/login">Car Cleaning</a>
          </tr>
          <tr>
            <a routerLink="/login">kitchen Cleaning</a>
          </tr>
        </table>
    </div>
</h3>

<router-outlet></router-outlet>