<div style="background-image: url('assets/images/homepage.jpg') ">
  <table class="table table-hover" style="width:100%; height:100%; margin-left: 40%;" jum>
    <thead>
     <br>
     <br>
     <br>
     <p style="margin-top: 5%">
      <td><img src="../../assets/images/beauty.png" style="width:70px; height: 70px"></td> 
      <td><h4><a routerLink="/beauty">Beauty Services</a></h4></td>
  </p>
     <p> 
      <td><img src="../../assets/images/cleaning.webp" style="width:70px; height: 70px"></td> 
      <td><h4><a routerLink="/cleaning">Cleaning Services</a></h4></td>
    </p>
     <p>
       <td><img src="../../assets/images/decoration.jpg" style="width:70px; height: 70px"></td> 
      <td><h4><a routerLink="/decoration">Decoration Services</a></h4></td></p>
     <p>
        <td><img src="../../assets/images/garden.jpg" style="width:70px; height: 70px"></td>
       <td><h4><a routerLink="/gardening">Gardning Services</a></h4></td>
     </p>
     <br>
     <br>
     <br>
     <br>
     
    </thead>
  </table>
</div>

  <router-outlet></router-outlet>

