<div style="background-image: url('assets/images/project51.jpg')">

  <table class="table table-hover">
      <tr>
          <h1 style="text-align: center">Contact Us</h1>
      <address style="text-align: center">
          <a href="doorserviceat@gmail.com">doorserviceat@gmail.com</a>
       </address>
        </tr>
  </table>

  <br>
  <br>
  <br>
  <table class="table table-hover" style="margin-left: 40%">
      <div class="row">
          <div class="col-sm-5" >
            <p style="color: black">Contact us and we'll get back to you within 24 hours.</p>
            <p style="color: black"><span class="glyphicon glyphicon-map-marker" style="color: black"></span> Market Yard, Pune </p>
            <p style="color: black"><span class="glyphicon glyphicon-phone" style="color: black"></span> +919970507747</p>
            <p style="color: black"><span class="glyphicon glyphicon-envelope" style="color: black"></span> samikshaghugare123@gmail.com</p>
          </div>
        </div>
  </table>
  
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
</div>