
<h1 style="text-align: center; background-color: maroon; color: black">Decoration Services</h1>

<h3 style="text-align: center">

<div class="table-responsive">
        <table class="table table-hover">
           <tr>
               
                <a routerLink="/login">Party Decoration</a><br>
           </tr>
           <tr>
                <a routerLink="/login">Birthday Decoration</a>
           </tr>
           <tr>
            <a routerLink="/login">Wedding Decoration</a>
          </tr>
          <tr>
            <a routerLink="/login">Other Decoration</a>
          </tr>
        </table>
    </div>
</h3>

<router-outlet></router-outlet>