<div style="background-image: url('assets/images/project1.jpg')">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-align: center">what is Service@Door</h1>
  <br>
  <br>
  <p>
      We are a marketplace for local services. We help customers hire trusted professionals for all their service needs.vWe are staffed with young, passionate people working tirelessly to make a difference in the lives of people bt catering to their needs at their doorsteps. We provide housekeeping services which consist of plumbers, Electricians, Carpenters, Cleaning and Pest Control. We also provide personal services like beauty, spa, mobile and other appliance repairs etc. Be it getting a plumbing job done, improving your fitness through yoga, learning to play the guitar, decorating your home or getting candid photos of your wedding clicked, we are a sure shot destination for your service needs. 
  </p>
  <p style="text-align: center">
    There can more things for which we are going to provide service soon.
  </p>
  <br>
  <br>
  <br>
  <br>
  
  
</div>
